header {
  background-color: var(--off-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.site-title {
  font-family: var(--title-font);
  font-size: 55px;
  font-weight: 500;
  color: var(--green);
  text-decoration: none;
}
