.wrapper {
  padding: 30px;
  width: 30%;
}

.search-bar {
  padding: 10px;
  font-size: 20px;
}

.recipe-list {
  padding-top: 10px;
  list-style: none;
}

.recipe-item {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.search {
  border: black;
  padding: 30px;
}
