header {
  background-color: var(--green);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

.site-title {
  font-family: var(--title-font);
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  color: var(--yellow);
  text-decoration: none;
}
